*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
   
   
    --cor01: #BEFFC7;
      --cor02: #3b617c;
    --cor03: #423629;
    --cor04: #3477a7;
    --cor05: #fff;
    --cor06: #eaeaeab8;
    --cor07: #a8c59a;
    --cor08: #3d6e43;
    --cor09: rgb(141, 7, 7);
    --cor010: #adbbc7;
    --cor011: #7895aa;
  
    
  }  
  
  body{
    overflow-x: hidden;
    overflow-y: auto; 
  }
  
  body::-webkit-scrollbar{
  display: none;
  }
  
  .sessao {
    background-color: var(--cor06);
    position: absolute;
    width: 100px;
    height: fit-content;
    right: 5px;
    padding: 3px;
    z-index: 2;
  }
  
  .sessao h4 {
    font-size: 15px;
  }
  
  .sessao .sair{
    color: var(--cor09);
  }
  
  .container{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--cor06);
    }

    .bloco{
    width: 60vw;
    height: 60vh;
    background:#ebebeb;
    box-shadow:  5px 5px 30px #0c0c0c, 
    -5px 0 var(--cor09);
    padding: 2rem;
    overflow-y: scroll;
    }

    textarea{
        height: 5rem;
        width: 20rem;   
        margin: 0.3rem;
    }

    input{
        margin: 0.3rem;
        height: 2rem;
        width: 10rem;  
    }

    
    h1{
        font-size: 2rem;
        padding: 2rem;
        color: var(--cor02);
    }

    h2{
        font-size: 2rem;
       color:var(--cor09);
       margin: 0.3rem;
    }

    h3{
        font-size: 1.5rem;
       color:var(--cor03);
       margin: 0.9rem;
    }

    p{
        font-size: 1.2rem;
        margin: 0.1rem;
        color:var(--cor02);
        
    }

    .back{
    margin: 1em 4em 0 0;
    position: absolute;
    width: 100px;
    height: fit-content;
    left: 5px;
    padding: 3px;
    z-index: 2;
   
  }
 
  .back i{
    color: var(--cor04);
    font-size: 40px;
  }

  .excluir{
    margin: 1.2rem;
    text-decoration: none;
    padding: 10px 5px;
    margin-top:22px;
    cursor:pointer;
    border-radius:6px;
    font-size:1.2rem;
    color:var( --cor03);
    font-weight: bold;
    font-family:sans-serif;
    border: solid 0.1rem;
  }

  .cancelar{
    margin: 1.2rem;
    text-decoration: none;
    padding: 10px 5px;
    margin-top:22px;
    cursor:pointer;
    border-radius:6px;
    font-size:1.2rem;
    color:var( --cor03);
    font-weight: bold;
    font-family:sans-serif;
    border: solid 0.1rem;
  }

  .excluir:hover{
    background-color: var(--cor09);
    color:white;
  }

  .cancelar:hover{
    background-color:#3b617c;
    color: white;
  }

  .conteudo{
    margin: 2rem;
  }

