* {
  font-family: 'Roboto', sans-serif;
  
  --corBlue0:rgb(159, 173, 192);
  --corBlue1:#778da9;
  --corBlue2:#415a77;
  --corBlue3: #0d1b2a;
  --corBlack:#1d1111;
  --corGreen1:#dad7cd;
  --corGreen2:#a3b18a;
  --corGreen3:#588157;
  --corGreen4:#85c5a5;
  --corRed3:#a70303;
  --corWhite:#eeeeee;
}

:root{
  font-size: 62.5%;
  box-sizing: border-box;

}


body{
margin: 0;
padding: 0;
text-align: center;
overflow-x: hidden;
overflow-y:scroll; 
}

/*---Index---*/
.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas:
    "header header header"
    "conteudo conteudo conteudo"
    "footer footer footer";
}


.header{
  grid-area: header;
  position:fixed;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--corBlue0);
  box-shadow:  -5px 1px 10px #838383, 
  1px 0 black;
  z-index: 2;
}

nav ul{
  list-style-type: none;
  display:flex; 
  justify-content: space-around;
  width: 80vw;
  
  
}
nav ul li{
  list-style-type: none;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  
}

nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: var(--corBlue3);
  padding: 1rem;
  

 
  
}

nav li {
  transition: .2s ease-in-out;
}

nav li:hover{
  background-color: var(--corWhite);
  border-radius: 5px;
  transform: scale(1.2,1.2);
}

nav img{
  max-width:10rem;
  max-height:10rem;
  width: auto;
  height: auto;
 

}


.ativo{
  background: linear-gradient(90deg, var(--corWhite), var(--corWhite) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2rem;
  background-position: left bottom;
}
  

h1 {
  font-size: 8rem;
  color: var(--corBlue2);
}
h2{
  font-size:5rem;
  color: var(--corBlue2);

}      

.conteudo {
  background-color: #ffffff;
  grid-area: conteudo;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.conteudo p{
  font-size: 2rem;
 width: 70%;
 font-weight: bolder;
}



.conteudo a{
  text-decoration: none;
  
}



.tabela{
  grid-area: tabela;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  
}


table{
  border: 2px solid black;
  padding: 0px;
  margin: 1.5rem;
}


th{
  background: rgb(230, 230, 230);
  color: rgba(241, 241, 241, 0.945);
  font-size: 2rem;
  padding: 1.5rem;
  margin: 0px;
}

tr{
  background: rgb(230, 230, 230);
}

tr:nth-child(even) {
  background: #a1b9c9;
}

tr:hover{
  background: #423629;
  color: white;
}

tr:hover > td > a {
  color: white;
}

td{
  font-size: 2.5rem;
  padding: 5px;
}

td > a {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}

td > a > i {
  padding: 0px 1.5rem;
}

footer{
  grid-area: footer;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-areas: 
  ". considerations topo";
  background-color: var(--corBlue3);
  box-shadow:  -5px -3px 8px #838383, 
1px 0 black;
z-index: 1;
}

.considerations{
  grid-area: considerations;
}

.considerations p{
  color: white;
  font-size: 2rem;
  
}

.topo{
  grid-area:topo;

}

.btn-top{
  font-size: 2rem;
  text-decoration: none;
  color:rgb(104, 122, 146);
  visibility: hidden;
  
 
}

.btn-top.visible{
  visibility: visible;
}